google-api-python-client==1.8.2
google-auth-oauthlib==0.4.1
    ## API Key   ##    AIzaSyA4jSO7rMo5lMoWNRtRgVxwGUrzrrtT2t8 
    ##OAuth client ID: 79755140115-qutu1i5rvebf85e33ar0ll8mnnjarka9.apps.googleusercontent.com
    ##OAuth client Secret: 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
youtube-dl==2020.3.24


